[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "douban"

[packages]

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
yapf = "*"
twine = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.6"
